main{
    background-color: rgb(202, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}
button {
    color: white;
    margin: 10px;
    background-color: rgb(65, 180, 65);
    border-radius: 10px;
    border: none;
    width: 95%;
    height: 30px;
}
h3{
    margin: 10px; 
}
input{
    width: 95%;
    height: 30px;
    margin: 10px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1{
    text-align: center;
}
.login{
    background-color: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.514);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}   
