main .text h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main .text p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 48);
    color: white;
    width: 100%;
    padding: 10px;
}