.proyect3{
    background-color: rgb(196, 157, 247);
    width: 100%;
}
.gallery2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 50px;
}
.image2{
    border: solid 1px black ;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.527);
}
.image2 img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}
.image2:hover{
    transform: scale(1.1);
    border-color: magenta;
}
@media(max-width: 768px){
    .gallery2{
        transform: scale(0.9);
    }
}