.proyect4{
    background-color: rgb(209, 246, 255);
    width: 100%;
}
button:hover{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
button{
    background-color: green;
    color: white;
    border-radius: 20px;
    border: none;
}
.pequeñas .imagen{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    border: none;

}


.pequeñas .imagen.active {
    border: 2px solid rgb(0, 47, 255);
}



.grande img{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    margin: 10px;
}


.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    width: 97%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.imagen{
    margin: auto;
    width: auto;
    height: auto;
}
.descripcion{
    margin: auto;
    width: auto;
    height: auto;
}

.cantidad{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-color: rgb(240, 240, 240);
    height: 30px;
}

.cantidad button{
    background-color: rgb(240, 240, 240);
    border-radius: 0px;
    height: 100%;
    color: green;
    font-size: 20px;
    border: solid 1px rgb(184, 184, 184);
    width: 30px;
}
.cantidad #cantidad{
    background-color: rgb(240, 240, 240);
    border-radius: 0px;
    height: 80%;
    font-size: 20px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif; 
    width: 22px;
    border: none;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
}
.descripcion .precio{
    color: black;
}







/*Slider*/
.slider-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
    width: 1000px;
    height: 1000px;
    overflow: hidden;
    margin-bottom: 15px;
}
.slider {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease;
}
.slider .container2 {
    width: 80%;
    margin: 30px;
    height: 90%;
    object-fit: cover;
}
.slider-prev,
.slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 100%;
    border: solid rgb(0, 0, 0) 1px;
    color: black;
    font-size: 50px;
    width: 60px;
    cursor: pointer;
}
.slider-prev {
    left: 1%;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.281);
}
.slider-next {
    right: 1%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
}
@media(max-width: 768px){
    .slider > *{
        transform: scale(0.5);
    }
    .grande{
        transform: scale(0.5);
    }
    .slider-prev{
        left: 20%;
    }
    .slider-next{
        right: 20%;
    }
}
@media(max-width: 300px){
    .slider > *{
        transform: scale(0.3);
    }
    .slider{
        transform: scale(0.7);
    }
    .slider-prev{
        left: 30%;
    }
    .slider-next{
        right: 30%;
    }
}